<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/path/to/jquery.cookie.js"></script>
    <style>
        .title{
            text-align: center;
            padding: 20px;
        }
        .nav {
            max-width: 800px;
            min-width: 500px;
            margin: auto;
            margin-top: 3rem;
        }

        .nav-link {
            margin: 10px;
        }

        .contents {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            min-width: 50%;
            margin: auto;
        }

        .card {
            margin: auto;
            margin-bottom: 1rem;;
        }

        .contents {
            min-width: 500px;
        }

        .btn_contents {
            padding: 3rem;
        }

        .btn_contents_left {
            float: left;
        }

        .btn_contents_right {
            float: right;
        }
    </style>
    <title>Title</title>
</head>
<body>
<h1 class="title">환영합니다{{nickname}} 님</h1>
<nav class="nav nav-pills nav-fill">
    <a class="nav-link active" aria-current="page" href="/A">A대학</a>
    <a class="nav-link active" aria-current="page" href="/B">B대학</a>
    <a class="nav-link active" aria-current="page" href="/C">C대학</a>
    <a class="nav-link active" aria-current="page" href="/D">D대학</a>
    <a class="nav-link active" aria-current="page" href="/E">E대학</a>
</nav>
<section class="contents">
    <div class="btn_contents">
        <div class="dropdown ">
            <button class="btn btn-dark btn_contents_left dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                정렬
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">좋아요</a></li>
                <li><a class="dropdown-item" href="#">최신순</a></li>
                <li><a class="dropdown-item" href="#">오래된순</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark btn_contents_right">글작성</button>
    </div>
    <div class="card">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<script>
      $(function showDetail(e){
        $('.nav-btn').click(function (){
              console.log((e))
          })
    })
</script>
</body>
</html>